*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background: darkblue;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 0 15px;
}

.logo {
    width: 128px;
}

@media screen and (max-width: 700px) {
    .logo {
        width: 64px;
    }
}

.text-yellow {
    color: yellow;
}

.text-uppercase {
    text-transform: uppercase;
}

.main-title {
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 40px;
    flex: 1;
}

@media screen and (max-width: 910px) {
    .main-title {
        font-size: 24px;
    }
}

@media screen and (max-width: 400px) {
    .main-title {
        font-size: 18px;
    }
}

.content-container {
    flex: 2;
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.content {

}

.second-title {
    margin-bottom: 80px;
    font-size: 36px;
}

@media screen and (max-width: 910px) {
    .second-title {
        font-size: 24px;
    }
}

@media screen and (max-width: 700px) {
    .second-title {
        font-size: 18px;
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 400px) {
    .second-title {
        font-size: 16px;
    }
}


.footer-title {
    font-size: 32px;
}

@media screen and (max-width: 700px) {
    .footer-title {
        font-size: 24px;
    }
}

